@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-grid;
@include foundation-forms;
@include foundation-typography;
@include foundation-global-styles;
@include foundation-float-classes;
@include foundation-button;

// ALL POSSIBLE INCLUDE WITH FOUNDATION
// @include foundation-visibility-classes;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-close-button;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-flex-video;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-menu;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
//
// @include motion-ui-transitions;
// @include motion-ui-animations;

@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-CondLight.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-CondBold.ttf');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-CondLightItalic.ttf');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('fonts/BebasNeue.otf');
  font-style: normal;
  font-weight: normal;
}

/* Global style
---------------------------------------- */
body{
	font-family: 'OpenSans';
}
h1,h2,h3,h4{
	color: $primary-color;
}
h3{
	line-height: 1em;
}
h3:after{
	content: "";
  display: block;
  height: 4px;
  width: 100%;
  margin : 0 0 $global-margin 0;
  background: $secondary-color;
}

.headermobile{
	display:none;
}

// section	{
// 	padding: $global-padding/2 0;

// }

/* Header style
---------------------------------------- */
.navbar{
  font-family: 'BebasNeue';
}

.navbar a.selected{
	color:$primary-color;
}

.navbar a{
	color:$secondary-color;
	font-weight: 500;
	text-transform: uppercase;
	transition:all .2s  ease-out;

	&:hover{
		color:$primary-color;

	}
}

.header{
	font-size:1.6em;
	padding:$global-padding;
	.menu{
		margin-top: 50px;
		margin-bottom: 50px;
		padding: $global-padding/2  $global-padding  $global-padding/2 $global-padding ;
		border: 5px solid $primary-color;
	}
}
.headermobile{
  font-size: 1.3em;
	margin:$global-margin 0px;
}
.releaseMenu {
  width: 40px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
.releaseMenu span{
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: $primary-color;
  border-radius: 6px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.releaseMenu span:nth-child(1) {
  top: 0px;
}

.releaseMenu span:nth-child(2),.releaseMenu span:nth-child(3) {
  top: 12px;
}

.releaseMenu span:nth-child(4) {
  top: 24px;
}

.releaseMenu.open span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}

.releaseMenu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.releaseMenu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.releaseMenu.open span:nth-child(4) {
  top: 12px;
  width: 0%;
  left: 50%;
}

.menumobile{
	display:none;
	margin: 0;
	padding: 0;

	li{
		display: block;
		text-align: center;
		margin: 0px;
		height: 35px;
	}
}

/* CV
---------------------------------------- */

.cv{
	.experience{
		.mission{
			h5{
				color:$orange-color;
				margin-bottom: $global-margin/4;
			}
			ul{
				margin-left: 0;
				li{
					margin-bottom: $global-margin/2;
					list-style: none;
					ul{
						margin-left: $global-margin*1;
						li{
							list-style: none;
							&:before{
								content: '- ';
							}
						}
					}
				}
			}
		}
	}

	.formation{
		margin-top: $global-margin;

	}
.download{
		margin:$global-margin*3 0 $global-margin;
		a{
			margin: 0;
		}
}
.cv-item{
		h4{
			margin-bottom: 0px;
		}
		.date{
			color:$primary-color;
			font-size: 1.5rem;
		}
		.description{
			margin-bottom: $global-margin*2;
		}
		.learn{
			h5{
				color:$orange-color;
				margin-bottom: $global-margin/4;
			}
			ul{
			margin: 0;
    	list-style-type: none;
				li{
					margin-bottom: $global-margin/2;
					&:before{
						content:'• '
					}
				}
			}
		}

	}
}

/* Portfolio
---------------------------------------- */
.portfolio{
	.portfolio-item{
		margin: $global-margin*0.9 0;
	}
	.portfolio-thumbnail{
		cursor: pointer;
	}
}

/* Single Project
---------------------------------------- */

.project{
	.project-thumbnail{
  	@include breakpoint(small down) {
			margin-bottom: $global-margin;
		}
	}
	.project-date{
		font-style: italic;
		font-size: 1.1em;
	}
}

/* Contact
---------------------------------------- */

.contact{
	margin:15vh 0;
	font-size: 1.4rem;
	.information{
		color:$primary-color;
		p{
			font-weight: 500;
			line-height: 1.7rem;
			margin-bottom: 0px;
		}
	}
}

/* Footer
---------------------------------------- */
.footer{
	font-size: 13px;
	margin-top: $global-margin*3;
}
.footer:before{
	content: "";
  display: block;
  height: 3px;
  width: 60%;
	margin: $global-margin/2 auto;
  background: $secondary-color;
}

/* Responsive Design
---------------------------------------- */


@media screen and (max-width: 768px) {

		// h3{
		// 	line-height: 20px;
		// }

    .header{
        display: none;
    }
    .headermobile  {
        display: block;
    }
}
