@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-grid;
@include foundation-forms;
@include foundation-typography;
@include foundation-global-styles;

// ALL POSSIBLE INCLUDE WITH FOUNDATION
// @include foundation-button;
// @include foundation-visibility-classes;
// @include foundation-float-classes;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-close-button;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-flex-video;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-menu;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
//
// @include motion-ui-transitions;
// @include motion-ui-animations;


/* Global style
---------------------------------------- */

h1,h2,h3,h4{
	color: $primary-color;	
}


/* Header style
---------------------------------------- */

header{
	color:$secondary-color;
	font-size:1.4rem;
	padding:$global-padding;

	#menu{
		margin-top: 50px;
		margin-bottom: 50px;

		padding: $global-padding/2  $global-padding  $global-padding/2 $global-padding ;
		border: 5px solid $primary-color;

		#menu-grid{

			a{
				color:$secondary-color;
				font-weight: 500;
				text-transform: uppercase;
			}
		}
	}
}
section	{
	padding: $global-padding/2 0;

}

/* Formation section style
---------------------------------------- */

#formation{

		h3:after{
			content: "";
		    display: block;
		    height: 4px;
		    width: 100%;
		    margin : 0 0 $global-margin 0;
		    background: $secondary-color;
		}
	.formation-item{
		h4{
			margin-bottom: 0px;
		}
		.date{
			color:$primary-color;
			font-size: 1.5rem;
		}
		.description{
			margin-bottom: $global-margin*2;
		}
		.mission{
			h5{
				color:$secondary-color;
				margin-bottom: $global-margin/4;
			}
			ul{
				margin-left: 0;
				li{
					margin-bottom: $global-margin/2;
					list-style: none;
				}
			}
		}
		.learn{
			h5{
				color:$secondary-color;
				margin-bottom: $global-margin/4;
			}
			ul{
				li{
					margin-bottom: $global-margin/2;
				}
			}
		}

	}
}














